---
import Layout from '../layouts/BlogPost.astro'
import { sql } from '../content.config'
import fs from 'fs'
import path from 'path'
import ical, { ICalCalendarMethod } from 'ical-generator'
import { isDev } from '../utils'

const d =
	await sql`select date, time, opponent, sets_won:: int, sets_lost:: int, dinner_location, count (*) over (partition by date):: int games_per_day
            from noco.volleyball
            order by date, time`

const winCount = d.reduce((acc, x) => acc + x.sets_won, 0)
const lossCount = d.reduce((acc, x) => acc + x.sets_lost, 0)
const total = d.reduce((acc, x) => acc + (x.sets_won ?? 3) + x.sets_lost, 0)
const completion = Math.floor(((winCount + lossCount) / total) * 100)

// @ts-ignore
function convertToCSV(jsonData) {
	if (!jsonData.length) return ''

	const headers = Object.keys(jsonData[0]).join(',') + '\n'
	// @ts-ignore
	const rows = jsonData.map((row) => Object.values(row).join(',')).join('\n')

	return headers + rows
}

const csvData = convertToCSV(d)
const filePath = path.join('public', '2025-volleyball-data.csv')
fs.writeFileSync(filePath, csvData)

// generate ical
const calendar = ical({ name: 'Volleyball Schedule' })
calendar.method(ICalCalendarMethod.REQUEST)

d.forEach((entry) => {
	const justTime = +entry.time.split(':')[0]
	const start = new Date(entry.date)
	start.setHours(justTime)

	const end = new Date(start)
	end.setHours(end.getHours() + 1)

	calendar.createEvent({
		start,
		end,
		summary: 'Volleyball Game'
	})
})
const calPath = path.join('public', '2025-volleyball.ics')
fs.writeFileSync(calPath, calendar.toString())
---

<Layout title="Volleyball League - 2025" pubDate={new Date('January 31 2025')}>
	<div class="terminal-alert">
		I thought I'd show some stats about our volleyball league standings.
		<br />
		Aside: <a href="/loadouts">Gear I like to use for volleyball</a>
	</div>
	<h1>Stats</h1>
	<h4>Sets Won: <code>{winCount}</code></h4>
	<div>
		<h4>Sets Lost: <code>{lossCount}</code></h4>
	</div>
	<h4>Total Sets: <code>{total}</code></h4>
	<div class="progress-bar progress-bar-show-percent">
		<div
			class="progress-bar-filled"
			style={`width: ${completion}%`}
			data-filled={`Season Completion ${completion}%`}
		>
		</div>
	</div>

	<hr />

	<h1>Game History</h1>

	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Opponent</th>
				<th>Sets Won</th>
				<th>Sets Lost</th>
				<th>Dinner</th>
			</tr>
		</thead>
		<tbody>
			{
				d.map((x) => {
					const highlight = x.games_per_day > 1 && x.date > new Date()

					return (
						<tr>
							<td class:list={[{ highlight: highlight }]}>
								{x.date.toLocaleDateString()}
								{+x.time.split(':')[0] - 12}pm
							</td>
							<td>{x.opponent}</td>
							<td>{x.sets_won}</td>
							<td>{x.sets_lost}</td>
							<td>{x.dinner_location}</td>
						</tr>
					)
				})
			}
		</tbody>
		<tfoot>
			<span class="highlight">blue date</span> means multiple games on that date
			{
				isDev() && (
					<>
						<br />
						<br />
						<a
							href="https://noco.lkat.io/dashboard/#/nc/p_egch5370h5zwqh/m8kn4b1fjv03w6x"
							target="_blank"
						>
							Update Table (Noco)
						</a>
					</>
				)
			}
		</tfoot>
	</table>
	<a href="/2025-volleyball-data.csv" download="volleyball-data.csv">CSV Download</a>
	<div>
		<a href="/2025-volleyball.ics" download><code>ics</code> File</a>
	</div>
	<div>
		<a
			href="https://calendar.google.com/calendar/u/0/r?cid=aum49v2dn1agb43kc5epp2fvvmuqeqeu@import.calendar.google.com"
			target="_blank"
		>
			Add to Google Calendar
		</a>
	</div>
</Layout>

<style>
	.highlight {
		color: var(--primary-color);
	}
</style>
