---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '../layouts/BlogPost.astro'
import { render } from 'astro:content'
import Heading from '../components/Heading.astro'

export async function getStaticPaths() {
	const posts = await getCollection('blog')
	return posts.map((post) => {
		return ({
			params: {id: post.id.split('/').filter(x=>x).at(-1)},
			props: post
		});
	})
}
type Props = CollectionEntry<'blog'>
const post = Astro.props
const { Content, headings, remarkPluginFrontmatter } = await render(post)

// console.log(remarkPluginFrontmatter)
// console.log(remarkPluginFrontmatter)
---

<BlogPost {...post.data} lastModified={remarkPluginFrontmatter.lastModified}
					shortSha={remarkPluginFrontmatter.shortHash} longSha={remarkPluginFrontmatter.longHash}>
	{
		headings.length > 0 && (
			<h1>Table of Contents</h1>
			<ol class="terminal-toc">
				{headings.map((heading) => (
					<li>
						<a href={`#${heading.slug}`}>{heading.text}</a>
					</li>
				))}
			</ol>
		)
	}
	<Content components={{ h1: Heading }} />
	<hr />
	<a href="#">Back to Top</a>
</BlogPost>
