---
import { FILE_URLS, FILES, getFileDownloadPath } from '../utils'
import Layout from '../layouts/BlogPost.astro'
---

<Layout title={`Data Files`} pubDate={new Date('May 3, 2025')}>
	<table>
		<thead>
			<tr>
				<!--<th>Updated</th>-->
				<th>Download</th>
				<th>Page(s)</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			{
				FILES.map(
					(file) => (<tr>
						<!--<td>todo</td>-->
						<td style="min-width:250px">
							<a href={getFileDownloadPath(file.filename)}>{file.filename}</a>
						</td>
						<td>
							{file.pages.map((page) => (<a href={page}>{page}</a>))}
						</td>
						<td>{file.notes}</td>
					</tr>)
				)
			}

		</tbody>
	</table>
</Layout>
