---
import { getEntry,  render } from 'astro:content'
import BlogPost from '../layouts/BlogPost.astro'
import Heading from '../components/Heading.astro'

const post = await getEntry('page', 'data')
if (!post){
	throw new Error('No post found')
}
const { Content, headings, remarkPluginFrontmatter } = await render(post)
---

<BlogPost {...post.data} lastModified={remarkPluginFrontmatter.lastModified}
					shortSha={remarkPluginFrontmatter.shortHash} longSha={remarkPluginFrontmatter.longHash}>
	{
		headings.length > 0 && (
			<h1>Table of Contents</h1>
			<ol class="terminal-toc">
				{headings.map((heading) => (
					<li>
						<a href={`#${heading.slug}`}>{heading.text}</a>
					</li>
				))}
			</ol>
		)
	}
	<Content components={{ h1: Heading }} />
	<hr />
	<a href="#">Back to Top</a>
</BlogPost>
