---
import yaml from 'js-yaml'
import Layout from '../layouts/BlogPost.astro'
import { getFromMinio } from '../get-from-minio'
import { getCollection } from 'astro:content'
import { getRecentTemporalWorkflows } from '../getRecentTemporalWorkflows'
import { query } from '../../db.ts'

interface DockerComposeFile {
	services: { [k: string]: { ports?: string[]
	image:string
	} }
}

interface EventCount {
	event_name: string;
	earliest_date: Date;
	latest_date: Date;
	count: number;
}


const machines = await Promise.all([
	getFromMinio<string>('etl', 'linux_desktop_screenfetch_result.txt', false),
	getFromMinio<string>('etl', 'server1_screenfetch_result.txt', false)
])


const hmm = await getFromMinio<string>('public', 'homelab-service-urls.json', true)
console.log('hmm',hmm)

// const eventCounts = await query(`select event_name,min(created_at)::date earliest_date, max(created_at)::date latest_date, count(*)::int count from events group by event_name order by count(*) desc`) as EventCount[]
// const obsidianCounts = await query(`select * from models.obsidian_tags order by tag`)
//
// const pages = await getCollection('page')
// console.log(pages)



// const workflows = await getRecentTemporalWorkflows();
// console.log(workflows)
---

<Layout title="My Homelab" pubDate={new Date('August 08 2021')}>
	<ol class="terminal-toc">
		{
			<li>
				<a href="#new">New Computer Setup</a>
			</li>
				<li>
					<a href={`#dc`}>Docker Compose Files</a>
				</li>
			<li><a href="#mm">My Machines</a></li>
			<li><a href="#iot">My IoT Devices</a></li>
		}
	</ol>

	<h1 id="new">New Computer Setup</h1>
	<ul>
		<li><a href="https://minio.lkat.io/browser/fresh-os-install" target="_blank">Install Files</a></li>
	</ul>

	<!-- <h1>Recent Temporal Invocations</h1> -->
	<!-- <table> -->
	<!-- 	<thead> -->
	<!-- 	<tr> -->
	<!-- 		<td>Status</td> -->
	<!-- 		<td>Workflow ID</td> -->
	<!-- 	</tr> -->
	<!-- 	</thead> -->
	<!-- 	<tbody> -->
	<!-- 	{workflows.map((workflow) => ( -->
	<!-- 		<tr > -->
	<!-- 			<td> -->
	<!-- 				<var>{workflow.status.name}</var> -->
	<!-- 			</td> -->
	<!-- 			<td>{workflow.workflowId}</td> -->
	<!-- 		</tr> -->
	<!-- 	))} -->
	<!-- 	</tbody> -->
	<!-- </table> -->


  <h1>My Services ({hmm.data.length})</h1>
  <table>
					<thead>
					<tr>
						<th>App</th>
						<th>Ports</th>
						<th></th>
					</tr>
					</thead>

					<tbody>

  {
  hmm.data.map(td => 
    <tr>
    <td>{td.service}</td>
    <td>{td.port}</td>
    <td>
      <a target="_blank" href={td.dnsUrl}>DNS</a> | 
      <a target="_blank" href={td.tailscaleUrl}>IP Tailscale</a> |
      {td.sourceShort}
    </td>

  </tr>)
  }
            </tbody>
          </table>



	<h1 id="mm">My Machines</h1>
	<p>
		I have a Temporal schedule that runs <code>screenfetch -N</code> every week that writes to Minio
		and this page requests the files from Minio and renders the results here.
	</p>
	<p>
		I didn&apos;t go with <code>neofetch</code> because of unicode characters.
	</p>
	{
		machines.map((serverInfo) => (
			<div>
				<small>Last Updated: {serverInfo.stats.lastModified.toLocaleDateString()}:</small>
				<pre>{serverInfo.data}</pre>
			</div>
		))
	}
					<h1 id="iot">My IoT Devices</h1>
					These are devices I've created. I'll think of how to show 3rd party in the future.
					<table>
					<thead><tr><td>Purpose</td><td>Device</td><td>Random</td></tr></thead>

					<tbody>
					<tr><td>Aquarium</td><td>Pi Pico W</td><td></td></tr>
					<tr><td>
						Kitchen Barcode Scanner
					</td><td>Pi Zero W 1.1</td><td></td></tr>
					<tr><td><a href="/blog/2024-12-15-control-panel">Control Panel</a></td><td>Pi Pico W</td><td></td></tr>
					<tr><td>Dog water level</td><td>ESP32 DevkitC 1.1</td><td>Battery powered</td></tr>
					</tbody>

					</table>
					<!--<ul>-->
					<!--	<li>Aquarium Pi Pico W</li>-->
					<!--	<li>Kitchen Barcode Scanner </li>-->
					<!--</ul>-->
					<!-- <h1 id="e">My Events</h1> -->
					<!-- I'll add more details about what is going on here in the future. -->
					<!-- <table><thead><tr><th>Name</th> -->
					<!-- <th>First Logged</th><th>Last Logged</th><th>Event Count</th></tr></thead> -->
					<!---->
					<!-- <tbody> -->
					<!-- {eventCounts.map((eventCount) => <tr> -->
					<!-- 	<td> -->
					<!-- 		{pages.some(x => x.id === eventCount.event_name) ? <a href={eventCount.event_name}>{eventCount.event_name}</a>:'not here'} -->
					<!-- 		{eventCount.event_name || 'Bad Data...'} -->
					<!-- 	</td> -->
					<!-- 	<td>{eventCount.earliest_date.toLocaleDateString()}</td> -->
					<!-- 	<td>{eventCount.latest_date.toLocaleDateString()}</td> -->
					<!-- 	<td>{eventCount.count.toLocaleString()}</td> -->
					<!-- </tr>)} -->
					<!-- {obsidianCounts.map(o=> <tr> -->
					<!-- 	<td>{o.tag}</td> -->
					<!-- 	<td>{o.min_date?.toLocaleDateString()}</td> -->
					<!-- 	<td>{o.max_date?.toLocaleDateString()}</td> -->
					<!-- 	<td>{o.count}</td> -->
					<!---->
					<!-- </tr>)} -->
					<!-- </tbody></table> -->

</Layout>
