---
import csvtojsonV2 from 'csvtojson';
import Layout from '../layouts/BlogPost.astro';

const URL = 'https://www.mountainproject.com/user/7079884/lane-katris/tick-export'
const idk = await fetch(URL)
const response = await idk.text();

const rows = await csvtojsonV2().fromString(response)

---

<Layout title="My Climb Ticks" pubDate={new Date('November 11 2024')}>
<p>This data is sourced from Mountain Project <a href={URL} target="_blank">here</a>.</p>
  <table>
    <thead>
    <tr>
      <td>Date</td>
      <td>Name</td>
      <td>Grade</td>
    </tr>
    </thead>
    <tbody>

    {rows.map(row => <>
      <tr>
      <td>{row.Date}</td>
      <td><a href={row.URL} target="_blank"> {row.Route}</a></td>
      <td>{row.Rating}</td>

    </tr>
      {row.Notes && <tr><td colspan="4"><b>Notes</b>:
        ({row.Style}{row["Lead Style"] && <> - {row["Lead Style"]}</>}) {row.Notes}</td></tr>}
    </>)}
    </tbody>
  </table>
</Layout>
<style>
  table {
      width: 100%;
  }
  thead {
      font-weight: bold;
  }
  tr:nth-child(even) {
      background-color: lightgray;
  }
</style>

