---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const notes = await getCollection('notes')
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body class="container">
<Header />
<main>
	<section>
		<h1>Notes Index ({notes.length})</h1>
		<a href="/tags">All Tags</a> |
		<a href="https://memo.lkat.io">Old Notes</a>
		<dl>
			{
				notes.map((post) => (
					<dt>
						<small>
							{post.id}
						</small>
						<a href={`/notes/${post.id}/`}>
							{post.data.title}
						</a>
						<!--<br />-->
						<!--{post.data.tags && <small class="muted">-->

						<!--	{post.data.tags?.map((tag) => <span>#{tag}</span>)}-->
						<!--</small>}-->
					</dt>
				))
			}
		</dl>
	</section>
</main>
<Footer />
</body>
</html>
