---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
// import '../styles/global.css'
// import '../styles/gruvbox.css'
// import '../styles/gruvbox2.css'
import '../styles/basic.css'

interface Props {
	title: string
	description?: string
	image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, image = '/og.jpg' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/disc-golf-favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<!--<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />-->
<!--<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />-->
<!--<link rel="stylesheet" href="https://cdn.jsDeliver.net/npm/@picocss/pico/css/pico.min.css" />-->
<!--<link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css" />-->
<!--<link rel="stylesheet" href="https://cdn.jsDeliver.net/npm/@exampledev/new.css/new.min.css" />-->
<!--<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" />-->
<!--<link id="main-css" rel="stylesheet" href="/terminal-0.7.4.min.css" />-->
<!--<link-->
<!--	id="main-css"-->
<!--	rel="stylesheet"-->
<!--	href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"-->
<!--/>-->
<!--<link id="main-css" rel="stylesheet" href="https://unpkg.com/mvp.css">-->
<!--<link-->
<!--	href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;600&display=swap"-->
<!--	rel="stylesheet"-->
<!--/>-->
<!--<link rel="stylesheet" href="https://edwardtufte.github.io/tufte-css/tufte.css" type="text/css" />-->
<!--<link-->
<!--	rel="stylesheet"-->
<!--	href="https://cdn.jsdelivr.net/npm/yorha@1.2.0/dist/yorha.min.css"-->
<!--	type="text/css"-->
<!--/>-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css" />-->
<!--<link rel="stylesheet" href="https://unpkg.com/xp.css" />-->
<!--<link rel="stylesheet" href="https://unpkg.com/xp.css@/dist/98.css" />-->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link
	rel="alternate"
	type="application/rss+xml"
	title="Lane's Blog"
	href={new URL('rss.xml', Astro.site)}
/>
