---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

type Props = {
	image: any
	alt: string
	width: number
	height?: number
	widths?: number[]
}

const { image, alt, width, height, widths, ...props } = Astro.props
---

<figure>
	<a href={image.src}>
		<Image
			src={image}
			alt={alt}
			widths={widths}
			width={width}
			height={height}
			sizes={`(max-width: 720px) 400px, (max-width: 1600px) 800px`}
		/>
	</a>
	<figcaption>{alt}</figcaption>
</figure>

<style>
	figure {
		text-align: center;
	}
</style>
