---
import { Image } from 'astro:assets'
import childProcess from 'child_process'
const today = new Date()
import byHuman from '../assets/Written-By-Human-Not-By-AI-Badge-white.svg'
import byHumanDark from '../assets/Written-By-Human-Not-By-AI-Badge-black.svg'

const hash = childProcess.execSync('git rev-parse  HEAD').toString().trim()
const shortHash = childProcess.execSync('git rev-parse --short HEAD').toString().trim()
---

<footer>
	<hr />
	<div>
		<a href="#">Top</a>
	</div>
	<div>
		&copy; {today.getFullYear()} Lane Katris
	</div>
	<div>
		Version: <a href={`https://github.com/lanekatris/monorepo/commit/${hash}`}>{shortHash}</a>
	</div>
	<div>
		<a href="https://terminalcss.xyz/" target="_blank">TerminalXYZ Theme</a>
	</div>
	<div>
		<a href="https://astro.build"
			><img
				src="https://astro.badg.es/v2/built-with-astro/tiny.svg"
				alt="Built with Astro"
				width="120"
				height="20"
			/></a
		>
	</div>
	<div>
		<!--https://stackoverflow.com/questions/55787167/how-to-change-image-source-based-on-css-prefers-color-scheme-->
		<a href="https://notbyai.fyi" target="_blank" rel="noopener noreferrer">
			<picture>
				<source srcset={byHumanDark.src} media="(prefers-color-scheme: dark)" />
				<Image src={byHuman} alt="Written by a human" />
			</picture>
		</a>
	</div>
</footer>

<style>
	footer {
		padding-bottom: 12em;
	}
</style>
