---
import { Image } from 'astro:assets'
import childProcess from 'child_process'
const today = new Date()
import byHuman from '../assets/Written-By-Human-Not-By-AI-Badge-white.svg'
import byHumanDark from '../assets/Written-By-Human-Not-By-AI-Badge-black.svg'
import badgeGmail from '../assets/badge-gmail.png'

const hash = childProcess.execSync('git rev-parse  HEAD').toString().trim()
const shortHash = childProcess.execSync('git rev-parse --short HEAD').toString().trim()
---

<!--<footer>-->
<!--	&lt;!&ndash;<hr />&ndash;&gt;-->
<!--	<div>-->
<!--		<a href="#">Top</a>-->
<!--	</div>-->
<!--	&lt;!&ndash;<div>&ndash;&gt;-->
<!--	&lt;!&ndash;	&copy; {today.getFullYear()} Lane Katris&ndash;&gt;-->
<!--	&lt;!&ndash;	<a href="mailto:lanekatris@gmail.com">&ndash;&gt;-->
<!--	&lt;!&ndash;		<Image src={badgeGmail} loading="eager" alt="Gmail" />&ndash;&gt;-->
<!--	&lt;!&ndash;	</a>&ndash;&gt;-->
<!--	&lt;!&ndash;</div>&ndash;&gt;-->
<!--	&lt;!&ndash;<div>&ndash;&gt;-->
<!--	&lt;!&ndash;	Version: <a href={`https://github.com/lanekatris/monorepo/commit/${hash}`}>{shortHash}</a> Last Published:&ndash;&gt;-->
<!--	&lt;!&ndash;	<code&ndash;&gt;-->
<!--	&lt;!&ndash;		>{today.toLocaleDateString()}&ndash;&gt;-->
<!--	&lt;!&ndash;		{today.toLocaleTimeString()}</code&ndash;&gt;-->
<!--	&lt;!&ndash;	>&ndash;&gt;-->
<!--	&lt;!&ndash;</div>&ndash;&gt;-->
<!--	&lt;!&ndash;<div>&ndash;&gt;-->
<!--	&lt;!&ndash;	<a href="https://terminalcss.xyz/" target="_blank">TerminalXYZ Theme</a>&ndash;&gt;-->
<!--	&lt;!&ndash;</div>&ndash;&gt;-->
<!--	&lt;!&ndash;<div>&ndash;&gt;-->
<!--	&lt;!&ndash;	<a href="https://astro.build"&ndash;&gt;-->
<!--	&lt;!&ndash;		><img&ndash;&gt;-->
<!--	&lt;!&ndash;			src="/built-with-astro.svg"&ndash;&gt;-->
<!--	&lt;!&ndash;			loading="eager"&ndash;&gt;-->
<!--	&lt;!&ndash;			alt="Built with Astro"&ndash;&gt;-->
<!--	&lt;!&ndash;			width="120"&ndash;&gt;-->
<!--	&lt;!&ndash;			height="20"&ndash;&gt;-->
<!--	&lt;!&ndash;		/></a&ndash;&gt;-->
<!--	&lt;!&ndash;	>&ndash;&gt;-->
<!--	&lt;!&ndash;</div>&ndash;&gt;-->
<!--	&lt;!&ndash;<div>&ndash;&gt;-->
<!--	&lt;!&ndash;	&lt;!&ndash;https://stackoverflow.com/questions/55787167/how-to-change-image-source-based-on-css-prefers-color-scheme&ndash;&gt;&ndash;&gt;-->
<!--	&lt;!&ndash;	<a href="https://notbyai.fyi" target="_blank" rel="noopener noreferrer">&ndash;&gt;-->
<!--	&lt;!&ndash;		<picture>&ndash;&gt;-->
<!--	&lt;!&ndash;			<source srcset={byHumanDark.src} media="(prefers-color-scheme: dark)" />&ndash;&gt;-->
<!--	&lt;!&ndash;			<Image src={byHuman} loading="lazy" alt="Written by a human" />&ndash;&gt;-->
<!--	&lt;!&ndash;		</picture>&ndash;&gt;-->
<!--	&lt;!&ndash;	</a>&ndash;&gt;-->
<!--	&lt;!&ndash;</div>&ndash;&gt;-->
<!--</footer>-->

<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;	footer {&ndash;&gt;-->
<!--&lt;!&ndash;		padding-bottom: 12em;&ndash;&gt;-->
<!--&lt;!&ndash;	}&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
