---
import { Image } from 'astro:assets'
import childProcess from 'child_process'
const today = new Date()
import byHuman from '../assets/Written-By-Human-Not-By-AI-Badge-white.svg'
import byHumanDark from '../assets/Written-By-Human-Not-By-AI-Badge-black.svg'
import badgeGmail from '../assets/badge-gmail.png'

const hash = childProcess.execSync('git rev-parse  HEAD').toString().trim()
const shortHash = childProcess.execSync('git rev-parse --short HEAD').toString().trim()
---

<footer>
	<hr />
	<div>
		<a href="#">Top</a>
	</div>
	<div>
		&copy; {today.getFullYear()} Lane Katris
		<a href="mailto:lanekatris@gmail.com">
			<Image src={badgeGmail} alt="Gmail" />
		</a>
	</div>
	<div>
		Version: <a href={`https://github.com/lanekatris/monorepo/commit/${hash}`}>{shortHash}</a> Last Published:
		<code
			>{today.toLocaleDateString()}
			{today.toLocaleTimeString()}</code
		>
	</div>
	<div>
		<a href="https://terminalcss.xyz/" target="_blank">TerminalXYZ Theme</a>
	</div>
	<div>
		<a href="https://astro.build"
			><img src="/built-with-astro.svg" alt="Built with Astro" width="120" height="20" /></a
		>
	</div>
	<div>
		<!--https://stackoverflow.com/questions/55787167/how-to-change-image-source-based-on-css-prefers-color-scheme-->
		<a href="https://notbyai.fyi" target="_blank" rel="noopener noreferrer">
			<picture>
				<source srcset={byHumanDark.src} media="(prefers-color-scheme: dark)" />
				<Image src={byHuman} alt="Written by a human" />
			</picture>
		</a>
	</div>
</footer>

<style>
	footer {
		padding-bottom: 12em;
	}
</style>
