---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { formatObsidianLink } from '../formatObsidianLink'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, obsidianLink, obsidianType } = Astro.props

// obsidianLink: obsidian://open?vault=lkat-vault&file=Adventures/2024-11-09 Outdoor Rock Climbing

const formattedObsidianLink = formatObsidianLink(obsidianType, obsidianLink)
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />

		<style>
			.title h1 {
				margin-bottom: 0;
			}
		</style>
	</head>

	<body class="container">
		<Header />
		<main>
			<article>
				<div class="">
					<div class="">
						<h1 style="padding-bottom:0">{title}</h1>
						<div>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
							{formattedObsidianLink && <a href={formattedObsidianLink}>Obsidian Link</a>}
						</div>
					</div>
					<hr style="margin-top:05px;margin-bottom:10px;" />
					<!--<br />-->
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
