<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Masterchief</title>
  <link rel="stylesheet" href="/dg-index.css" />
</head>
<body>

<a href="dg/generator/generate">Generate GEO JSON</a>

<h1>Add Disc</h1>

<form method="post" action="{{postUrl}}">
  <label>Brand
    <input name="brand" autofocus/>
  </label>
  <label>Model
    <input name="model"/>
  </label>
  <label>Date
    <input name="date" />
  </label>
  <input type="submit" />
</form>
<h1>Your Discs ({{discs.length}})</h1>
<a href="dg/discs" target="_blank">Discs Api</a>
<ul>
  {{#each discs}}
    <li>({{this.discNumber}}) {{this.event.brand}} - {{this.event.model}}
      <form class="delete-disc" method="post" action="{{../deleteUrl}}">
        <input type="hidden" name="id" value="{{this.event.id}}" />
        <input type="submit" value="Delete" />
      </form>
    </li>
  {{/each}}
</ul>
<h1>Load Discs</h1>
<form method="post" action="{{resetUrl}}">
  <input type="submit" value="Reset ALL Discs" />
</form>
<h2>Upload Discs</h2>
<p>Usually you get this data from AirTable</p>
<p>Id, Brand, Model (Include Headers)</p>
<form method="post" action="{{uploadUrl}}">
  <input type="submit" value="Upload" />
  <label>
    <textarea name="data" rows="20" cols="20"></textarea>
  </label>
</form>

<h1>Load Your Played Rounds</h1>
<form method="post" action="dg/generator/file" id="played-rounds-form" enctype="multipart/form-data">
  <input type="file" id="file" name="file" />
  <input type="submit"/>
</form>
<h4>Or Add Manually Played Round</h4>
<form method="post" action="dg/generator/course-played">
  <label>PDGA Course ID:
    <input type="text" name="courseId" />
  </label>
  <input type="submit"/>
</form>

<h4>Manually Added Rounds</h4>
<ul>
  {{#manuallyPlayedCourses}}
    <li>{{this}}</li>
  {{/manuallyPlayedCourses}}
</ul>

<h1>Your Played Courses ({{courses.length}})</h1>
<ul>
  {{#each courses}}
    <li>{{this}}</li>
  {{/each}}
</ul>
</body>
</html>
